[loggers]
keys: root,werkzeug

[handlers]
keys: console

[formatters]
keys: pepperFormatter

[logger_root]
level: DEBUG
handlers: console

[logger_werkzeug]
level: DEBUG
handlers: console
qualname=werkzeug

[handler_console]
class: StreamHandler
level: NOTSET
formatter: pepperFormatter
args: (sys.stdout,)

[formatter_pepperFormatter]
format: %(asctime)s %(levelname)-8s %(name)-60s %(message)s
datefmt: %x %X
